.remoteWork{
    height: 180px;
    background-color: rgb(235, 247, 169);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container{
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.button{
    height: 30%;
    width: 30%;
    font-size: x-large;
}
@media only screen and (max-width: 600px) {
    .button {
        font-size: inherit;
    }
    .title{
        text-align: center;
    }
}