.footer{
    height: 120px;
    background-color: rgb(189, 235, 199);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container{
    flex-direction: column;
}
.list{
    width: 330px;
    display: flex;
    justify-content: space-between;
}
