@import '../common/styles/sass/variables.scss';

.projectsBlock {
  min-height: 100vh;
  padding: 60px 0;
  background-color: $bgSecondColor;
  .worksContainer {
    justify-content: flex-start;
    flex-direction: column;
    @media only screen and (max-width: 1125px) {
      justify-content: center;
    }
    .works {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media only screen and (max-width: 1125px) {
        justify-content: center;
        align-items: flex-start;
        height: 85%;
      }
    }
  }
}
